[MASTER]
ignore = .git

[FORMAT]
max-line-length = 120
max-module-lines = 2000

[DESIGN]
max-attributes = 20
max-locals = 30
max-branches = 20
max-nested-blocks = 8
max-returns = 8

[MESSAGES CONTROL]
disable =
    missing-docstring,
    too-few-public-methods,
    no-self-use,
    expression-not-assigned


[TYPECHECK]
ignored-classes = generator, responses